*.iml
.gradle
/local.properties
/gradle.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/server/constants.js
/server/node_modules/
/server/dist
/app/google-services.json
/server/.env